@font-face{
    font-family:valorant;
    src:url(../fonts/valorant.ttf);
}
@font-face{
    font-family:returnofganon;
    src:url(../fonts/returnofganon.ttf);
}
@font-face{
    font-family:American Captain;
    src:url(../fonts/americancaptain.otf);
}
@font-face{
    font-family:wanted;
    src:url(../fonts/wanted.ttf);
}
@font-face{
    font-family:hyliaserif;
    src:url(../fonts/hyliaserif.otf);
}
@font-face{
    font-family:seagram;
    src:url(../fonts/seagram.ttf);
}
@font-face{
    font-family:celt;
    src:url(../fonts/celt.ttf);
}

@font-face{
    font-family:gw;
    src:url(../fonts/gw.ttf);
}


/*-------------------------------------------------*/

a,b{
    font-family: valorant;


}
p{
    font-family:valorant;
}
.titulo{
    font-family:gw;

}
.descripcion{
    font-family:gw;

}

button{
    font-family:gw;

}