* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #cb232c, #ce1d61);
}

.title {
    color: #252525;
    font-size: 100px;
    font-weight: 800;
    margin-bottom: 20px;
}